<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .info-mail table, .info-mail td, .info-mail th{border: 0 !important;}
    </style>
</head>
<body>
<div class="info-mail">
    <div class="aHl"></div><div id=":i5" tabindex="-1"></div><div id=":ph" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTgwOTMxODMzNTg0NjQwODI0OSJd; 4:WyIjbXNnLWY6MTgwOTMxODMzNTg0NjQwODI0OSIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLDBd"><div id=":pg" class="a3s aiL "><table cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="background:#fff">
    <tbody>
    <!--    <tr>-->
    <!--        <td style="height:22px;font-size:0;line-height:0">&nbsp;</td>-->
    <!--    </tr>-->
    <tr>
        <td style="padding: 0 !important;">
            <table cellpadding="0" cellspacing="0" border="0" style="margin: 0 !important;">
                <tbody><tr>
                    <td width="280">&nbsp;</td>
                    <td width="50">
                        <a href="#" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.kurly.com&amp;source=gmail&amp;ust=1726025487730000&amp;usg=AOvVaw027BJv9MCuYno37nZAF3pO"><img src="https://github.com/user-attachments/assets/791b6dea-739c-49b0-b0a6-be490148ea46" alt="딜리버리 로고" width="200" height="200" border="0" style="display:block" class="CToWUd" data-bit="iit"></a>
                    </td>
                    <td width="280">&nbsp;</td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    <!--    <tr>-->
    <!--        <td style="height:13px;font-size:0;line-height:0">&nbsp;</td>-->
    <!--    </tr>-->
    <tr style="margin-bottom: 5px">
        <td align="center">
            <p style="text-decoration: none;  margin:0; padding:0; font-size:15px; color:#333; line-height:18px; letter-spacing:-0.1px">
                ${ name }님 안녕하세요 ${ companyName }입니다. &nbsp;
            </p>
            <p style="text-decoration: none;  margin:0; padding:0; font-size:15px; color:#333; line-height:18px; letter-spacing:-0.1px">
                서류전형에 합격되신 걸 진심으로 축하드립니다. &nbsp;
            </p>
            <p style="margin:0;padding:0;font-size:15px;color:#333;line-height:15px;letter-spacing:-0.1px">
                회원님께서 지원하신 ${ companyName }회사 ${ announcementTitle } 공고 &nbsp;
            </p>
            <p style="margin:0;padding:0;font-size:15px;color:#333;line-height:15px;letter-spacing:-0.1px">
                면접 일정에 대해서 안내해 드리겠습니다. &nbsp;
            </p>
        </td>
    </tr>
    <!--    <tr>-->
    <!--        <td style="height:19px;font-size:0;line-height:0">&nbsp;</td>-->
    <!--    </tr>-->
    <tr>
        <td style="padding: 20px;">
            <table cellpadding="0" cellspacing="0" width="100%" style="border: 0;">
                <tbody>
                <tr>
                    <td style="padding: 10px; background-color: #f4f4f4; font-weight: bold;">면접 일자</td>
                    <td style="padding: 10px;">${ interviewDate }</td>
                </tr>
                <tr>
                    <td style="padding: 10px; background-color: #f4f4f4; font-weight: bold;">면접 시간</td>
                    <td style="padding: 10px;">${ interviewStart } ~ ${ interviewEnd }</td>
                </tr>
                <tr>
                    <td style="padding: 10px; background-color: #f4f4f4; font-weight: bold;">면접 방법</td>
                    <td style="padding: 10px;">${ isOnline }</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>
</div>
</body>
</html>