/*  공고 상세 페이지 css */
/* announce-detail -> ad */
/* * {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif !important;
}

body {
    font-size: 12px;
    letter-spacing: 0px;
    color: #666;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
}

div {
    display: block;
    unicode-bidi: isolate;
} */


.ad-wrapper {
    display: flex;
    position: relative;
    height: 100%;
    background-color: #F9FAFB;
    text-align: left;
}

.ad-container {
    position: relative;
    width: 960px;
    margin: 0 auto 0 auto;
    display: block;
    background-color: white;
    border: 1px solid white;
}

/* annouce-detail-summary -> ads */
.ad-summary {
    margin: 0;
    position: relative;
    float: left;
    width: 918px;
    padding: 18px;
    display: block;
}

.ads-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    font-size: 27px;
    letter-spacing: -.5px;
    color: #212b36;
    width: 689px;
    padding: 5px 0 20px;

    -webkit-box-align: center;
    word-break: break-all;
    align-items: flex-start;
}

.ads-content {
    border-top: 1px solid #212b36;
    display: flex;
    padding: 18px 0px;
    margin: 0;
}

.ads-announce-info {
    width: 363px;
    margin-top: 7px;
    float: left;
    padding: 0;
}

.ad-list {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin: 0;
    padding: 0;
}

.ad-text1 {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0;
    color: #212b36;
}

.ad-text2 {
    font-size: 14px;
    letter-spacing: 0;
    color: #333;
    font-weight: 700;
}

.ad-text3 {
    width: 100%;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 0;
    margin: 4px 0 5px;
    color: #999;
    vertical-align: top;
}

.ad-text4 {
    color: #212b36;
    letter-spacing: 0;
    font-weight: 400;
}

.ad-smbtn {
    font-size: 12px;
    letter-spacing: 0;
    /* line-height: 17px; */
    padding: 3px;
    color: white;
    text-decoration: none;
    background-color: #212b36;
    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 2px;
}
.ad-smbtn:hover, .ad-bgbtn:hover{
    opacity: 70%;
}

.ad-link{
    text-decoration: none;
    color: black;
}

.ads-company-info {
    float: left;
    padding: 0;
    width: 188px;
}

.ads-welfare-info {
    float: left;
    padding: 0;
    width: 100%;
}
.ads-period-info {
    display: block;
    clear: both;
    width: fit-content;
    /* text-align: center; */
}
.ad-logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 228px;
    height: 111px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* .ad-link {
    text-decoration: none;
    color: black;
}

.ad-link:hover {
    text-decoration: none;
    color: rgb(57, 145, 207);
} */

/* annouce-detail-apply -> ada */
.ad-apply {
    margin: 18px 18px 0 18px;
    position: relative;
    float: left;
    width: 918px;
    padding: 18px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #212b36;
}

.ad-text5 {
    font-size: 15px;
    color: red;
    font-weight: 900;
}

.ad-bgbtn {
    position: relative;
    overflow: inherit;
    display: flex;
    -webkit-box-align: center;
    width: 190px;
    align-items: center;
    -webkit-box-pack: center;
    background-color: #212b36;
    justify-content: center;
    font-size: 18px;
    letter-spacing: 0;
    height: 54px;
    box-sizing: border-box;
    margin: 0 3px;
    font-weight: bold;
    color: white;
    padding: 7px 10px;
    cursor: pointer;
    border: 0 none;
}

/* annouce-detail-detail -> add */
.ad-detail {
    padding: 18px 0;
    border-top: 1px solid #212b36;
    margin: 18px 18px 0 18px;
    position: relative;
    float: left;
    width: 918px;
}

.add-title{
    text-align: center;
    margin: 0 0 18px 0;
    font-size: 25px;
    letter-spacing: 0;
    color: #333;
    font-weight: 700;
}


.add-header{
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100%;
}

.ad-text7 {
    color: black;
    font-size: 50px;
    font-weight: 700;
}

.add-intro{
    font-size: 15px;
    white-space: pre-line;
    line-height: 1.5rem;
}
.add-heading{
    line-height: 1.2;
    display: inline;
    -webkit-box-align: center;
    font-size: 30px;
    letter-spacing: -.5px;
    align-items: center;
    color: #333;
    font-weight: 800;
}
.add-desc{
    font-size: 15px;
    white-space: pre-line;
    line-height: 1.5rem;
}



