/* 모달 스타일 */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 100%; 
    height: 100%;
    
    resize: both; /* 가로 및 세로 크기 조정 가능 */
    overflow: auto; /* 내용이 넘칠 경우 스크롤 가능 */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.pdf-preview {
    width: 90%; /* 너비를 100%로 유지 */
    height: 80vh; /* 높이를 적절히 조정 */
    transform-origin: top left; /* 스케일 기준점 설정 */
    border: none; /* 테두리 제거 */
}
.modal-content {
    cursor: move; /* 드래그 가능 커서 */
}