<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class=""><div class="aHl"></div><div id=":i5" tabindex="-1"></div><div id=":ph" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTgwOTMxODMzNTg0NjQwODI0OSJd; 4:WyIjbXNnLWY6MTgwOTMxODMzNTg0NjQwODI0OSIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLDBd"><div id=":pg" class="a3s aiL "><table cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="background:#fff">
    <tbody>
    <tr>
        <td style="height:22px;font-size:0;line-height:0">&nbsp;</td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody><tr>
                    <td width="280">&nbsp;</td>
                    <td width="50">
                        <a href="#" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.kurly.com&amp;source=gmail&amp;ust=1726025487730000&amp;usg=AOvVaw027BJv9MCuYno37nZAF3pO"><img src="https://github.com/user-attachments/assets/791b6dea-739c-49b0-b0a6-be490148ea46" alt="딜리버리 로고" width="200" height="200" border="0" style="display:block" class="CToWUd" data-bit="iit"></a>
                    </td>
                    <td width="280">&nbsp;</td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    <tr>
        <td style="height:13px;font-size:0;line-height:0">&nbsp;</td>
    </tr>
    <tr style="margin-bottom: 5px">
        <td align="center">
            <p style="text-decoration: none;  margin:0; padding:0; font-size:12px; color:#333; line-height:18px; letter-spacing:-0.1px">
                ${ email }님 안녕하세요 IRS입니다.
            </p>
            <p style="margin:0;padding:0;font-size:12px;color:#333;line-height:18px;letter-spacing:-0.1px">
                회원님께서 지원하신 ~~회사 ~~공고 면접 일정에 대해서 안내해 드리겠습니다.
            </p>
        </td>
    </tr>
    <tr>
        <td style="height:19px;font-size:0;line-height:0">&nbsp;</td>
    </tr>
    <tr>
        <td style="padding: 20px;">
            <table cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #dddddd;">
                <tbody>
                <tr>
                    <td style="padding: 10px; background-color: #f4f4f4; font-weight: bold;">면접 일자</td>
                    <td style="padding: 10px;">2024년 9월 20일</td>
                </tr>
                <tr>
                    <td style="padding: 10px; background-color: #f4f4f4; font-weight: bold;">면접 시간</td>
                    <td style="padding: 10px;">오후 2시</td>
                </tr>
                <tr>
                    <td style="padding: 10px; background-color: #f4f4f4; font-weight: bold;">면접 방법</td>
                    <td style="padding: 10px;">온라인</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:19px;font-size:0;line-height:0">&nbsp;</td>
    </tr>
    <tr>
        <td style="height:29px;font-size:0;line-height:0">&nbsp;</td>
    </tr>
    <tr>
        <td style="height:40px;font-size:0;line-height:0">&nbsp;</td>
    </tr>
    </tbody>
</table>
</div>
</div>
</body>
</html>