<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Interview Email</title>
</head>
<body>
<!-- <h1>면접 안내</h1>
<p>면접 당일 안내드린 링크로 접속해주시기 바랍니다.</p>
<p>
    <a th:href="@{http://localhost:8080/api/video-interview(announce=1234, interview-schedule=${uuid}, type='estimator', duration=${interviewStart} + '-' + ${interviewEnd})}">
        면접 참여 링크
    </a>
</p> -->

<table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; background-color: #ffffff; margin-top: 50px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <!-- 테이블 내용 그대로 유지 -->
    <tr>
        <td align="center" style="text-align:center !important; padding: 40px 0; background-color: #212b36;">
            <h2 style="color: #ffffff; margin: 0;">면접 일정 안내</h2>
        </td>
    </tr>
    <tr>
        <td style="padding: 30px 30px; color: #333333;">
            <p style="margin: 0 0 20px 0; font-size: 16px;">안녕하세요,</p>
            <p style="margin: 0 0 20px 0; font-size: 16px;">
                지원자님께서 지원하신 직무에 대한 면접 일정이 아래와 같이 확정되었습니다. 면접 일정을 확인해주시기 바랍니다.
            </p>
        </td>
    </tr>
    <!-- 면접 정보 -->
    <tr>
        <td style="padding: 20px;">
            <table cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #dddddd;">
                <tr>
                    <td style="padding: 10px; background-color: #f4f4f4; font-weight: bold;">면접 일자</td>
                    <td style="padding: 10px; text-align: left;">2024년 9월 20일</td>
                </tr>
                <tr>
                    <td style="padding: 10px; background-color: #f4f4f4; font-weight: bold;">면접 시간</td>
                    <td style="padding: 10px; text-align: left;">오후 2시</td>
                </tr>
                <tr>
                    <td style="padding: 10px; background-color: #f4f4f4; font-weight: bold;">면접 장소</td>
                    <td style="padding: 10px; text-align: left;">서울시 강남구 테헤란로 123 ABC빌딩 5층</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
